body{
    background-color:white;
    margin: 0px;
}



.intro{
    width: 100%;
    height: auto;
}

.intro__navegador{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}


.navegador__logo{
    height: 54px;
    width: 50px;
}

.navegador__menu{
    height: 36px;
    width: 32px;
    
}

.navegador__links {
    display: none;
    list-style: none;
    gap: 24px;
}

@media (min-width: 768px) {
  .navegador__menu {
    display: none;
  }

  .navegador__links {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    gap: 80px;
  }

  .navegador__links a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}

.intro__bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bienvenida__foto{
    height: 300px;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
  .intro__bienvenida {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
  }

  .intro__bienvenida__titulo{
    margin-left: 200px;
    flex: 1;
  }

  .bienvenida__foto{
    max-width: 300px;
    flex: 1;
    margin-right: 200px;
  }

}

.About-me{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.about-me__nombre{
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 60px;
}

.about-me__informacion{
    color: aliceblue;
    padding: 0 60px;
    margin-bottom: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media(min-width: 756px){

.About-me{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.about-me__informacion{
    width: 350px;
    margin-top: 50px;
}

.About-me__icono{
    height: 211px;
    width: 211px;
}

}

.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.servicios__logo{
    height: 138px;
    width: 138px;
}

.servicios__cajas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.servicios__texto{
    margin: auto 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.servicios__cajas h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
@media(min-width: 756px){
    .servicios__caja{
        display: flex;
        flex-direction: row;
        padding-bottom: 80px;
}
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 40px 40px;
    margin-top: 50px;
    
}

.formulario__caja__tittle {
    display: flex;
    justify-content: center;
}

.formulario__tittle{
    color: white;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formulario__casillas{
    display: flex;
  flex-direction: column; /* Los inputs uno debajo de otro */
  align-items: flex-start;  /* Mueve el botón a la derecha */
  gap: 15px;              /* Espaciado entre campos */
}

.formulario__casillas h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formulario__casillas input{
    width: 100%;
    height: 30px;
}

.formulario__casillas__textarea {
    width: 100%;
    height: 150px;
    font-size: 16px;
    resize: none;
}

.formulario__casillas button {
    align-self:center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fdd835; /* Amarillo como en Figma */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 40px;
}

@media(min-width: 756px){
    .formulario{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
    }
.formulario__tittle{
    font-size: 60px;
}
.formulario__casillas input{
    width: 376px;
}
}

footer{

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__logo{
    height: 64px;
    width: 60px;
}

.since{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.footer__redes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer__redes__links__titulo{
width: 73px;
height: 19px;
left: 54px;
top: 3430px;
color: #2C2C2C;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 8px;

}

@media (min-width: 500px){
   footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 30px;
    height: 355px;

}

.footer__logo{
    height:70px;
    width: 65px;
}

.footer__redes{
    margin-right: 70px;
}
}
